.card {
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: #fff;
  min-height: 150px;
  position: relative;

  & .line-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  & .content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  & .title {
    font-weight: 700;

  }

  & .actions {
    display: flex;
    gap: 1em;
    justify-content: center;

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.3em;

      &:hover {
        scale: 1.1;
      }
    }
  }
}